// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

// Home PC Layout

// LG UltraGear
output "DP-2" {
    position x=0 y=0
    mode "2560x1440@239.970"
    variable-refresh-rate on-demand=true
}
// Nixeus 144hz
output "DP-3" {
    position x=2560 y=0
    mode "2560x1440@144.078"
    variable-refresh-rate on-demand=true
}
// Capture Card
output "HDMI-A-1" {
    position x=5120 y=0
    mode "2560x1440@59.951"
}
